<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="vue-app">
        <p>name</p>
        <input type="text" v-model="name">
        <br>
        Food Fav:
        <input type="checkbox" value="ส้มตำ" v-model="foods">
        <label>ส้มตำ</label>
        <input type="checkbox" value="พิซซ่า" v-model="foods">
        <label>พิซซ่า</label>
        <input type="checkbox" value="มาม่า" v-model="foods">
        <label>มาม่า</label>
        <br>
        <input type="radio" value="Male" v-model="gender">
        <label>Male</label>
        <input type="radio" value="Female" v-model="gender">
        <label>Female</label>
        <br>
        <p>อาชีพ</p>
        <select v-model="job">
            <option value="">กรุณาเลือก</option>
            <option value="โปรแกรมเมอร์">โปรแกรมเมอร์</option>
            <option value="นักเรียน นักศึกษา">นักเรียน นักศึกษา</option>
        </select>
        
        <hr>
        <!-- {{setName('Art')}} -->
        <h1>{{getName()}}</h1>
        <p>{{job}}</p>
        <p>{{age}}</p>
        <p>{{foods}}</p>
        <p>{{gender}}</p>

        <p><a v-bind:href="website">web</a></p>

        <h1>Count Enter</h1>
        <input type="text" v-on:keyup.enter="addCount" />
        <h2>Count: {{count}}</h2>

        <input type="text" name="" v-bind:value="name"/>
        <br/>

        <button type="button" v-on:click="addAge">Add</button><br/>
        <button type="button" v-on:click="subtractAge">Subtract</button>
    </div>

    <script src="app_1.js" charset="utf-8"></script>
</body>
</html>