<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <button type="button" v-on:click="like=!like">Like</button>
        <h1 v-if="like">สวัสดี</h1>
        <!-- <h1>{{product[0]}}</h1> -->

        <ul>
            <li v-for="v in product">{{v}}</li>
        </ul>

        <ul>
            <li v-for="item in employee">{{item.name}} {{item.age}}</li>
        </ul>
    </div>
    
    <script src="app_2.js" charset="utf-8"></script>
</body>
</html>